<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App input fragments</title>
</head>
<body>

<form th:object="${formApp}">

    <div th:fragment="appName" id="appNameFragment">
        <label for="appNameInput" class="form-label">App name</label>
        <input type="text" spellcheck="false" class="form-control" id="appNameInput" th:field="*{appName}" required
               th:data-auto-fill="${pageApp?.name}"

               hx-get="/api/v1/app/html/valid/name"
               hx-trigger="input delay:500ms"
               hx-target="#appNameFragment" hx-swap="outerHTML"
               th:hx-vals="${'{&quot;oldAppName&quot; : &quot;' + (pageApp != null ? pageApp.name : oldAppName) + '&quot;}'}"
        >
    </div>

    <div th:fragment="description" id="descriptionFragment">
        <label for="descriptionInput" class="form-label">Description</label>
        <input type="text" spellcheck="false" class="form-control" id="descriptionInput" th:field="*{description}" required
               th:data-auto-fill="${pageApp?.description}"

               hx-get="/api/v1/app/html/valid/description"
               hx-trigger="input delay:500ms"
               hx-target="#descriptionFragment" hx-swap="outerHTML"
        >
    </div>
</form>

</body>
</html>