<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User input fragments</title>
</head>
<body>

<form th:object="${formUser}">

    <div th:fragment="userType" id="userTypeFragment">
        <!--suppress HtmlFormInputWithoutLabel -->
        <select class="visually-hidden" id="userTypeInput" th:field="*{userType}">
            <option th:value="${pageUser != null ? (pageUser.isDeveloper() ? 'DEVELOPER' : 'USER') : ''}"></option>
        </select>
    </div>

    <div th:fragment="username" id="usernameFragment">
        <label for="usernameInput" class="form-label">Username</label>
        <input type="text" spellcheck="false" class="form-control" id="usernameInput" th:field="*{username}" required
               th:data-auto-fill="${pageUser?.username}"

               hx-get="/api/v1/user/html/valid/username"
               hx-trigger="input delay:500ms"
               hx-target="#usernameFragment" hx-swap="outerHTML"
        >
    </div>

    <div th:fragment="password" id="passwordFragment">
        <label for="passwordInput" class="form-label">Password</label>
        <div class="input-group">
            <input type="password" class="form-control" id="passwordInput" th:field="*{password}" required
                   th:data-auto-fill="${currentPassword != null ? currentPassword : ''}"

                   hx-get="/api/v1/user/html/valid/password"
                   hx-trigger="input delay:500ms"
                   hx-target="#passwordFragment" hx-swap="outerHTML"
            >
            <button id="passwordToggle" class="input-group-text" type="button" data-toggle-text hx-preserve="true">
                <i class="bi-eye-fill"></i>
            </button>
        </div>
    </div>

    <div th:fragment="email" id="emailFragment">
        <label class="form-label">Email</label>

        <div class="input-group">
            <input type="text" spellcheck="false" class="form-control" id="emailInput" th:field="*{email}" required
                   th:data-auto-fill="${pageUser?.email}"

                   hx-get="/api/v1/user/html/valid/email"
                   hx-trigger="input delay:500ms"
                   hx-target="#emailFragment" hx-swap="outerHTML"
            >
            <button class="btn btn-secondary" id="emailButton" type="button"

                    hx-post="/api/v1/user/submit/email"
                    hx-include="[name='email']"
                    hx-swap="none"
                    hx-preserve="true"

            >Verify</button>
        </div>
    </div>

    <div th:fragment="emailCode" id="emailCodeFragment">
        <label class="form-label invisible">padding</label>

        <input type="text" spellcheck="false" class="form-control" id="emailCodeInput" placeholder="Code" th:field="*{emailCode}" required
               th:data-auto-fill="${emailCode?.getCode()}"

               hx-get="/api/v1/user/html/verify-code/email"
               hx-include="[name='email']"
               hx-trigger="input delay:500ms"
               hx-target="#emailCodeFragment" hx-swap="outerHTML"
        >
    </div>

    <div th:fragment="firstName" id="firstNameFragment">
        <label for="firstNameInput" class="form-label">First name</label>
        <input type="text" class="form-control" id="firstNameInput" th:field="*{formDeveloperInfo.firstName}"
               th:data-auto-fill="${pageUser?.getDeveloperInfo()?.getFirstName()}"
        >
    </div>

    <div th:fragment="lastName" id="lastNameFragment">
        <label for="lastNameInput" class="form-label">Last name</label>
        <input type="text" class="form-control" id="lastNameInput" th:field="*{formDeveloperInfo.lastName}"
               th:data-auto-fill="${pageUser?.getDeveloperInfo()?.getLastName()}"
        >
    </div>

    <div th:fragment="phoneNumber" id="phoneNumberFragment">
        <label class="form-label">Phone number</label>

        <div class="input-group">
            <select class="form-select" id="countryCodeInput" th:field="*{formDeveloperInfo.formPhoneNumber.regionCode}"
                    th:data-auto-fill="${pageUser != null && pageUser.isDeveloper()
                        ? phoneNumberUtil.getRegionCodeForNumber(pageUser.getDeveloperInfo().getPhoneNumber())
                        : ''}"

                    hx-preserve="true"
            >
                <option value="" selected>Select country</option>
                <option th:each="countryCode : ${countryCodeList}"
                        th:value="${countryCode.getAlpha2()}"
                        th:text="${countryCode.getName()}"></option>
            </select>
            <input type="text" class="form-control" id="phoneNumberInput" placeholder="Number" th:field="*{formDeveloperInfo.formPhoneNumber.number}"
                   th:data-auto-fill="${pageUser != null && pageUser.isDeveloper()
                        ? phoneNumberUtil.getNationalSignificantNumber(pageUser.getDeveloperInfo().getPhoneNumber())
                        : ''}"

                   hx-get="/api/v1/user/html/valid/phone"
                   hx-include="[name='formDeveloperInfo.formPhoneNumber.regionCode']"
                   hx-trigger="input delay:500ms"
                   hx-target="#phoneNumberFragment" hx-swap="outerHTML"
            >
            <button class="btn btn-secondary" id="phoneNumberButton" type="button"

                    hx-post="/api/v1/user/submit/phone"
                    hx-include="[name='formDeveloperInfo.formPhoneNumber.regionCode'], [name='formDeveloperInfo.formPhoneNumber.number']"
                    hx-swap="none"
                    hx-preserve="true"

            >Verify</button>
        </div>
    </div>

    <div th:fragment="phoneNumberCode" id="phoneNumberCodeFragment">
        <label class="form-label invisible">padding</label>

        <input type="text" class="form-control" id="phoneNumberCodeInput" placeholder="Code" th:field="*{formDeveloperInfo.phoneCode}"
               th:data-auto-fill="${phoneCode?.getCode()}"

               hx-get="/api/v1/user/html/verify-code/phone"
               hx-include="[name='formDeveloperInfo.formPhoneNumber.regionCode'], [name='formDeveloperInfo.formPhoneNumber.number']"
               hx-trigger="input delay:500ms"
               hx-target="#phoneNumberCodeFragment" hx-swap="outerHTML"
        >
    </div>
</form>

</body>
</html>