<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Releases elements</title>
</head>
<body>

<div th:fragment="file-info (type)" th:with="versionRequired = ${!#strings.equals(type, 'icon')}"
     class="d-flex" style="height: 70px;">
    <div th:id="${type + 'InfoFragment'}">
        <form th:object="${formPendingUpload}"

              hx-post="/api/v1/storage/upload/init"
              th:hx-target="${'#' + type + 'UploadFragment'}" hx-swap="outerHTML"
              th:hx-indicator="${'#' + type + 'UploadFragment'}"
        >
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="text" class="visually-hidden" th:field="*{appName}">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="text" class="visually-hidden" th:placeholder="${type}" th:field="*{type}">

            <div th:if="${!versionRequired}" class="visually-hidden">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" name="version" value="no version">
                <button type="submit" name="toFire">Send</button>
            </div>

            <div th:if="${versionRequired}" class="me-4">
                <label for="versionInput" class="form-label">Version</label>
                <div class="input-group">
                    <input type="text" spellcheck="false" class="form-control" name="version" id="versionInput" required>
                    <button type="submit" class="btn btn-outline-secondary">Send</button>
                </div>
            </div>
        </form>
    </div>

    <div th:id="${type + 'UploadFragment'}" th:classappend="${versionRequired ? 'align-self-end' : 'align-self-center'}">
        <div th:classappend="${versionRequired ? 'htmx-indicator' : ''}" class="spinner-border" role="status"></div>
    </div>

    <div th:id="${type + 'UploadProgress'}" class="d-flex align-self-end align-items-center d-none">
        <div name="bar" class="progress me-3" style="width: 200px;">
            <div class="progress-bar" role="progressbar" style="width: 0;"></div>
        </div>
        <div name="text" class="me-3"></div>
        <button th:id="${type + 'CancelButton'}" class="btn btn-outline-secondary">Cancel</button>
    </div>
</div>

<div th:fragment="file-upload (type, token)" th:id="${type + 'UploadFragment'}">
    <form th:hx-post="${'/api/v1/storage/upload/' + token}" th:id="${type + 'UploadForm'}"
          hx-encoding="multipart/form-data"
          hx-swap="none"
    >
        <label class="form-label">Upload</label>
        <div class="d-flex">
            <div class="input-group">
                <input type="file" name="file" th:id="${type + 'FileInput'}" class="form-control" required
                       th:accept="${#strings.equals(type, 'icon') ? 'image/png' : 'application/zip'}">
                <button type="submit" class="btn btn-outline-primary">Upload</button>
            </div>
        </div>
    </form>
</div>

<!--suppress HtmlUnknownTag -->
<td th:fragment="status-icon (exists)"
    th:classappend="${exists ? 'bi-check-lg' : 'bi-x-lg'}"
    th:style="${'font-size: 1.3rem; color: ' + (exists ? 'green' : 'red') + ';'}"></td>

<div th:fragment="storage-status" id="storageStatusFragment"
     th:with="iconExists = ${storageService.exists(app.getName(), T(basket.server.util.types.storage.FileName).ICON)},
              stableExists = ${storageService.exists(app.getName(), T(basket.server.util.types.storage.FileName).STABLE)},
              experimentalExists = ${storageService.exists(app.getName(), T(basket.server.util.types.storage.FileName).EXPERIMENTAL)}">

    <button type="button" class="visually-hidden" id="storageStatusRefreshButton"

            hx-get="/api/v1/storage/html/status"
            hx-target="#storageStatusFragment"
            hx-swap="outerHTML"
            th:hx-vals="${'{&quot;appName&quot; : &quot;' + app.getName() + '&quot;}'}"
    ></button>

    <table class="table align-middle">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
        </tr>
        </thead>

        <tbody>
        <tr class="table-light">
            <td>Icon</td>
            <td th:replace=":: status-icon (${iconExists})"></td>
        </tr>

        <tr class="table-light">
            <td>Stable</td>
            <td th:replace=":: status-icon (${stableExists})"></td>
        </tr>

        <tr>
            <td>Experimental</td>
            <td th:replace=":: status-icon (${experimentalExists})"></td>
        </tr>
        </tbody>
    </table>

    <div class="ms-2" th:with="readyToRelease = ${storageService.isReleasable(app.getName())}">
        <div th:if="${!readyToRelease}" class="text-muted">Complete the highlighted rows to release the app.</div>
        <button th:if="${readyToRelease && !app.isAvailable()}" type="button" id="releaseButton" class="btn btn-primary"

                hx-patch="/api/v1/app/release"
                hx-swap="none"
                th:hx-vals="${'{&quot;appName&quot; : &quot;' + app.getName() + '&quot;}'}"
        >Release</button>
        <div th:if="${app.isAvailable()}" class="text-muted">App released</div>
    </div>
</div>

</body>
</html>