:root {
    --header-height: 70px;
    --aside-width: 250px;
}

body.with-header {
    padding-top: var(--header-height);
}

body.with-sidebar {
    padding-left: var(--aside-width);
}

header {
    background-color: var(--bs-gray-200);
    height: var(--header-height);
}

aside {
    width: var(--aside-width);
    height: 100%;
    padding-top: var(--header-height);
}

main {
    background-color: var(--bs-white);
}
