<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/icon.ico}">
    <meta name="author" content="Tobias van den Hurk">
    <title th:text="${pageUser.getUsername()}"></title>

    <script type="importmap">
	{
		"imports": {
			"bootstrap": "/webjars/bootstrap/dist/js/bootstrap.esm.min.js",
			"@popperjs/core": "/webjars/popperjs__core/lib/index.js"
		}
	}
    </script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script type="module">
        import 'bootstrap'
    </script>
    <link rel="stylesheet" th:href="@{/style/base.css}">
    <script type="module" th:src="@{/scripts/base.js}"></script>
</head>
<body class="with-header with-sidebar">

<div th:replace="fragments/page-components :: user-sidebar"></div>

<div th:replace="fragments/page-components :: header"></div>

<main class="p-4 m-auto" style="width: 1000px;">
    <div class="display-3 mb-3" th:text="${pageUser.getUsername()}">Username</div>
    <div sec:authorize="hasRole('DEVELOPER')">
        <h2>Recent projects</h2>
        <ul>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
        </ul>
    </div>
    <div sec:authorize="!hasRole('DEVELOPER')">
        <h2>Nothing to see here yet!</h2>
    </div>
</main>

</body>
</html>