<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/icon.ico}">
    <meta name="author" content="Tobias van den Hurk">
    <title th:text="'Projects · ' + ${pageUser.getUsername()}"></title>

    <script type="importmap">
	{
		"imports": {
			"bootstrap": "/webjars/bootstrap/dist/js/bootstrap.esm.min.js",
			"@popperjs/core": "/webjars/popperjs__core/lib/index.js"
		}
	}
    </script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script type="module">
        import 'bootstrap'
    </script>
    <link rel="stylesheet" th:href="@{/style/base.css}">
    <script type="module" th:src="@{/scripts/base.js}"></script>
</head>
<body class="with-header with-sidebar">

<div th:replace="fragments/page-components :: user-sidebar"></div>

<div th:replace="fragments/page-components :: header"></div>

<main class="p-4 m-auto" style="width: 1000px;">
    <div class="display-3 mb-5" th:text="${pageUser.getUsername()}">Username</div>

    <div class="h2 d-inline-flex align-items-center" th:with="projects = ${pageUser.getDeveloperInfo().getDeveloperOf().size()}">
        <div class="pb-1 me-2">Projects</div>
        <div class="badge bg-secondary rounded-pill fs-6" th:text="${projects}">Amount of projects</div>
    </div>
    <div class="list-group w-50 mb-3">
        <a class="list-group-item list-group-item-action"
           th:each="appName : ${pageUser.getDeveloperInfo().getDeveloperOf().stream().sorted().collect(T(java.util.stream.Collectors).toList())}"
           th:href="@{'/apps/' + ${appName}}" th:text="${appName}">App name</a>
    </div>
    <a th:href="@{/create/app}" class="btn btn-outline-primary">Add</a>
</main>

</body>
</html>