<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/icon.ico}">
    <meta name="author" content="Tobias van den Hurk">
    <title th:text="'Settings · ' + ${pageUser.getUsername()}"></title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script type="module">
        import "/webjars/popperjs__core/lib/index.js";
        import "/webjars/bootstrap/dist/js/bootstrap.min.js";
        import "/webjars/htmx.org/dist/htmx.min.js";
    </script>

    <link rel="stylesheet" th:href="@{/style/base.css}">
    <script type="module" th:src="@{/scripts/base.js}"></script>
    <script type="module" th:src="@{/scripts/user/settings.js}"></script>
</head>
<body class="with-header with-sidebar">

<div th:replace="fragments/page-components :: user-sidebar"></div>

<div th:replace="fragments/page-components :: header"></div>

<div th:replace="fragments/page-components :: toast-container"></div>

<main class="p-4 m-auto" style="width: 1000px;">
    <div class="display-3 mb-5" th:text="${pageUser.getUsername()}">Username</div>

    <div class="h4 mb-4">Change info</div>

    <div id="infoChangeContainer">
        <div th:replace="fragments/elements/user/settings :: no-password"></div>
    </div>

</main>

</body>
</html>