<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Components</title>
</head>
<body>

<header th:fragment="header" class="fixed-top">
    <div class="container d-flex flex-wrap align-items-center justify-content-between p-3">
        <a href="/" class="me-2">
            <img th:src="@{/images/icon.ico}" alt="Basket icon" height="35">
        </a>

        <div sec:authorize="!isAuthenticated()" class="d-flex">
            <a th:href="@{/login}" class="btn btn-outline-primary me-3">Login</a>
            <a th:href="@{/register}" class="btn btn-primary">Register</a>
        </div>

        <div sec:authorize="isAuthenticated()" th:with="name = ${#authentication.getName()}" class="d-flex align-items-center">
            <a th:href="@{/users/__${name}__}" th:text="${name}" class="text-dark text-decoration-none fs-5 align-top me-3"></a>
            <a th:href="@{/logout}" class="btn btn-outline-secondary">Logout</a>
        </div>
    </div>
</header>

<!--/*@thymesVar id="pageUri" type="java.lang.String"*/-->
<aside th:fragment="app-sidebar" class="fixed-top d-flex justify-content-evenly"
       th:with="pageUri = ${#request.getRequestURI()}, baseUri = ${pageUri.substring(0, pageUri.lastIndexOf('/'))},
                developsThis = ${#authorization.expr('hasRole(''DEVELOPER/'' + #vars.app.getName())')}">
    <nav class="nav nav-pills d-flex flex-column p-3 mt-5">
        <a th:with="linkUri = ${baseUri} + '/overview'" th:href="@{__${linkUri}__}" class="nav-link"
           th:classappend="${pageUri.equals(linkUri)} ? active : ''">
            <i class="bi-graph-up-arrow"></i>
            Overview
        </a>
        <a th:with="linkUri = ${baseUri} + '/manage'" th:href="@{__${linkUri}__}" class="nav-link"
           th:classappend="${pageUri.equals(linkUri)} ? active : (${!developsThis} ? disabled : '')">
            <i class="bi-people-fill"></i>
            Manage
        </a>
        <a th:with="linkUri = ${baseUri} + '/releases'" th:href="@{__${linkUri}__}" class="nav-link"
           th:classappend="${pageUri.equals(linkUri)} ? active : (${!developsThis} ? disabled : '')">
            <i class="bi-cloud-upload-fill"></i>
            Releases
        </a>
    </nav>
    <div class="vr"></div>
</aside>

<!--/*@thymesVar id="pageUri" type="java.lang.String"*/-->
<aside th:fragment="user-sidebar" class="fixed-top d-flex justify-content-evenly"
       th:with="pageUri = ${#request.getRequestURI()}, baseUri = ${pageUri.substring(0, pageUri.lastIndexOf('/'))},
                isPageUser = ${#authentication.getName().equals(#vars.pageUser.getUsername())}">
    <nav class="nav nav-pills d-flex flex-column p-3 mt-5">
        <a th:with="linkUri = ${baseUri} + '/home'" th:href="@{__${linkUri}__}" class="nav-link"
           th:classappend="${pageUri.equals(linkUri)} ? active : ''">
            <i class="bi-house-door-fill"></i>
            Home
        </a>
        <a sec:authorize="${#vars.pageUser.isDeveloper()}"
           th:with="linkUri = ${baseUri} + '/projects'" th:href="@{__${linkUri}__}" class="nav-link"
           th:classappend="${pageUri.equals(linkUri)} ? active : ''">
            <i class="bi-person-workspace"></i>
            Projects
        </a>
        <a  th:with="linkUri = ${baseUri} + '/profile'" th:href="@{__${linkUri}__}" class="nav-link"
            th:classappend="${pageUri.equals(linkUri)} ? active : (${!isPageUser} ? disabled : '')">
            <i class="bi-pencil-fill"></i>
            Profile
        </a>
        <a th:with="linkUri = ${baseUri} + '/settings'" th:href="@{__${linkUri}__}" class="nav-link"
           th:classappend="${pageUri.equals(linkUri)} ? active : (${!isPageUser} ? disabled : '')">
            <i class="bi-gear-fill"></i>
            Settings
        </a>
    </nav>
    <div class="vr"></div>
</aside>

<div th:fragment="form-submit (text)"
        class="container mt-3 p-0 d-flex justify-content-end">
    <button th:text="${text}" class="btn btn-primary btn-lg w-auto" type="submit">Action</button>
</div>

</body>
</html>