<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/icon.ico}">
    <title>Error · Basket</title>
    <script type="importmap">
	{
		"imports": {
			"bootstrap": "/webjars/bootstrap/dist/js/bootstrap.esm.min.js",
			"@popperjs/core": "/webjars/popperjs__core/lib/index.js"
		}
	}
    </script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script type="module">
        import 'bootstrap'
    </script>
</head>
<body class="text-center">

<main class="error-message">
    <i class="bi bi-emoji-frown" aria-label="Frown emoji" style="font-size: 4rem"></i>
    <h2 class="mb-3">Something went wrong</h2>
    <p th:with="status=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
        Error: <th:block th:text="${status.reasonPhrase}"/> (<th:block th:text="${status.value}"/>)
    </p>
    <div>
        <button onclick="window.history.back();" class="btn btn-primary">
            <i class="bi bi-caret-left-fill"></i> Go back
        </button>
        <a th:href="${#authentication.isAuthenticated() ? '/users/' + #authentication.getName() + '/home' : '/'}"
           class="btn btn-primary">
            <i class="bi bi-house-door-fill"></i> Home
        </a>
    </div>
</main>

</body>
</html>