<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/icon.ico}">
    <title>Error · Basket</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script type="module">
        import "/webjars/popperjs__core/lib/index.js";
        import "/webjars/bootstrap/dist/js/bootstrap.min.js";
        import "/webjars/htmx.org/dist/htmx.min.js";
    </script>

    <link rel="stylesheet" th:href="@{/style/base.css}">
    <script type="module" th:src="@{/scripts/base.js}"></script>
</head>
<body class="with-header">

<div th:replace="fragments/page-components :: header"></div>

<main class="container-lg p-4 m-auto mt-5" style="width: 400px;">

    <div class="d-flex flex-column align-items-center">
        <i class="bi bi-emoji-frown" aria-label="Frown emoji" style="font-size: 4rem"></i>
        <h2 class="mb-3">Something went wrong</h2>
        <p th:with="status=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
            Error <th:block th:text="${status.value}"/>: <th:block th:text="${status.reasonPhrase}"/><th:block th:if="${details!=null}" th:text="'. ' + ${details}"/>
        </p>
        <div>
            <button onclick="window.history.back();" class="btn btn-primary me-3">
                <i class="bi bi-caret-left-fill"></i> Go back
            </button>
            <a th:href="${#authentication.isAuthenticated() ? '/users/' + #authentication.getName() + '/home' : '/'}"
               class="btn btn-primary">
                <i class="bi bi-house-door-fill"></i> Home
            </a>
        </div>
    </div>
</main>

</body>
</html>