<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/icon.ico}">
    <meta name="author" content="Tobias van den Hurk">
    <title th:text="${app.getName()}"></title>

    <script type="importmap">
	{
		"imports": {
			"bootstrap": "/webjars/bootstrap/dist/js/bootstrap.esm.min.js",
			"@popperjs/core": "/webjars/popperjs__core/lib/index.js"
		}
	}
    </script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script type="module">
        import 'bootstrap'
    </script>
    <link rel="stylesheet" th:href="@{/style/base.css}">
</head>
<body class="with-header with-sidebar">

<div th:replace="fragments/components :: app-sidebar"></div>

<div th:replace="fragments/components :: header"></div>

<main class="p-4 m-auto" style="width: 1000px;">
    <div class="display-3 mb-5" th:text="${app.getName()}">App name</div>

    <div class="d-flex ms-4 me-4 mb-5 align-items-center justify-content-evenly border border-2 border-primary rounded-pill">
        <div class="p-2">
            <b>Downloads</b>
            <div th:text="${app.getAppStats().getAmountOfUsers()}">Amount of users</div>
        </div>
        <div class="p-2">
            <b>Rating</b>
            <div th:with="grade = ${app.getAppStats().getRating().getGrade()}, amount = ${app.getAppStats().getRating().getReviews().keySet().size()}">
                <th:block th:text="${grade}"/> <span th:text="${amount}" class="badge bg-secondary rounded-pill"></span>
            </div>
        </div>
    </div>

    <h3>Releases</h3>

    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Version</th>
            <th scope="col">Date</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th scope="row">Stable</th>
            <td th:text="${app.getStable().getVersion()}">Version</td>
            <td th:text="${{app.getStable().getDate()}}">Date</td>
        </tr>

        <tr>
            <th scope="row">Experimental</th>
            <td th:text="${app.getExperimental().getVersion()}">Version</td>
            <td th:text="${{app.getExperimental().getDate()}}">Date</td>
        </tr>
        </tbody>
    </table>
</main>

</body>
</html>