<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/icon.ico}">
    <meta name="author" content="Tobias van den Hurk">
    <title th:text="${app.getName()}"></title>

    <script type="importmap">
	{
		"imports": {
			"bootstrap": "/webjars/bootstrap/dist/js/bootstrap.esm.min.js",
			"@popperjs/core": "/webjars/popperjs__core/lib/index.js"
		}
	}
    </script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script type="module">
        import 'bootstrap'
    </script>
    <link rel="stylesheet" th:href="@{/style/base.css}">
    <script type="module" th:href="@{/scripts/app/releases}"></script>
</head>
<body class="with-header with-sidebar">

<div th:replace="fragments/components :: app-sidebar"></div>

<div th:replace="fragments/components :: header"></div>

<main class="p-4 m-auto" style="width: 1000px;">

    <div class="display-3 mb-5" th:text="${app.getName()}">App name</div>

    <div class="col-7 mb-4">
        <h4>Icon</h4>
        <form method="post" th:action="@{/api/v1/storage/upload/__${app.getName()}__/icon}"
              enctype="multipart/form-data" class="input-group">
            <input type="file" accept="image/png" name="file" class="form-control" required>
            <button type="submit" class="btn btn-outline-primary" id="iconButton">Upload</button>
        </form>
    </div>

    <div class="col-7 mb-4">
        <h4>Stable</h4>
        <form method="post" th:action="@{/api/v1/storage/upload/__${app.getName()}__/stable}"
              enctype="multipart/form-data" class="input-group">
            <input type="file" accept="application/zip" name="file" class="form-control" required>
            <button type="submit" class="btn btn-outline-primary" id="stableButton">Upload</button>
        </form>
    </div>

    <div class="col-7 mb-4">
        <h4>Experimental</h4>
        <form method="post" th:action="@{/api/v1/storage/upload/__${app.getName()}__/experimental}"
              enctype="multipart/form-data" class="input-group">
            <input type="file" accept="application/zip" name="file" class="form-control" required>
            <button type="submit" class="btn btn-outline-primary" id="experimentalButton">Upload</button>
        </form>
    </div>

    <button type="button" id="releaseButton">Release</button>

</main>

</body>
</html>